@import "./../../../../scss/global.scss";
.info {
  // max-width: 35rem;
  .headers {
    font-size: 1.2rem;
    margin: 0 2rem;
    margin-left: 2rem;
    color: $color-info;
    line-height: 1.3rem;
    font-weight: 300;
  }
  h3 {
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 2rem;
    color: $color-info;
  }
  .span {
    color: $color-body;
    opacity: 1;
    font-weight: 400;
  }

  .img {
    opacity: 1;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 8px;
  }
}
