@import "./../../scss//global.scss";

.mainWrapper {
  margin-bottom: 4rem;
  padding: 0 2%;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  width: 40%;
  flex-wrap: wrap;
}
.usersContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2rem;
  margin-bottom: 3rem;
  justify-content: space-around;

  @include media-query("max", $lap-start) {
    width: 95%;
  }
}
.infoWrapper {
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}
.name {
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-yellow;
  opacity: 0.9;
}
.status {
  opacity: 0.8;
  font-size: 1.3rem;
  margin-top: -1rem;
  font-style: italic;
  font-weight: 300;
}

.avatarWrapper {
  justify-self: center;
  margin-top: 2rem;
}
.img {
  justify-self: center;
  width: 6rem;
  height: 6rem;
  margin-bottom: 10px;
  margin-left: 14%;
}
.btn {
  width: 8rem;
  text-align: center;
  padding: 7px 15px;
}

.selectedPage {
  font-weight: 600;
  font-size: 1.5rem;
  color: $color-text-hover;
}
.pageButtons {
  cursor: pointer;
  font-size: 1.3rem;
  span {
    margin-right: 7px;
    opacity: 0.9;
  }
}
.pagination {
  margin-bottom: 3rem;
  margin-left: 3rem;
  width: 80%;
  ul {
    max-width: 30rem !important;
    justify-content: space-between !important;
  }
  div {
    color: $color-body !important;
  }
  button {
    font-size: 1.3rem !important;
    color: $color-body !important;
    opacity: 0.8;
    &:focus {
      opacity: 1;
    }
  }
}
