@import "./../../../scss/global.scss";
.header {
  font-weight: 400;
  font-size: 1.3rem;
}
.addPostBtn {
  font-size: 1rem;
  display: block;
}
.textArea {
  color: $color-input;
  font-size: 1.3rem;
  background: $color-body;
  outline: none;
}
.textArea:focus {
  background: $color-input-focus;
}
