@import "./../../../scss/global.scss";

.addPostBtn {
  font-size: 1rem;
  display: block;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  display: block;
  margin-top: 5px;
  margin-bottom: 2rem;
}
.form {
  width: 25rem;
}
.posts {
  margin-left: 2rem;
  @include media-query("max", $wide-start) {
    margin-left: 0;
  }
}
