@import "./../../../scss/global.scss";
.wallpaper {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 7px;
}
.wrapper {
  display: flex;
  padding: 2% 5%;
  flex-wrap: wrap;
  max-width: 30%;
  align-items: center;
  @include media-query("max", $wide-start) {
    padding: 5% 5%;
  }
}

.avatar {
  width: 10rem;
  height: 10rem;
  justify-self: center;
  justify-content: space-between;
  @include media-query("max", $palm-start) {
    width: 7rem;
    height: 7rem;
  }
}
