@import "./../../scss/global.scss";
.nav {
  a {
    line-height: 2.7rem;
    color: $color-body;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 400;
    transition: 0.5s;

    &:hover {
      color: $color-text-hover;
    }
    &.active {
      color: $color-primary;
    }
  }
}
