@import "./../../scss/global.scss";
.nav {
  grid-area: nav;
  padding: 1rem 0 0 1rem;
  a {
    line-height: 2.7rem;
    color: $color-body;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.5s;
    &:hover {
      color: $color-text-hover;
    }
    &.active {
      color: $color-primary;
    }
  }
}
