@import "./../../scss/global.scss";
.header {
  display: flex;
  justify-content: space-between;
  grid-auto-rows: minmax(30px, 200px);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  padding-bottom: 5px;
  .logo {
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
    height: 3rem;
    width: 3rem;
    &:hover {
      opacity: 0.6;
    }
  }
  .authWrapper {
    display: flex;
    flex-direction: column;

    a {
      color: $color-body;
    }
  }
  .avatar {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.7rem 0 0 0;
  }
  .login {
    font-size: 1.2rem;
    color: $color-body;
    opacity: 0.7;
  }
  .logout {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: underline;
    color: $color-body;
  }
}
