@import "./../../../scss/global.scss";
.input {
  height: 2rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-bottom: 1.9px solid $color-body;
  border: 1px solid $color-body;
  background: transparent;
  padding: 0 4px;
  opacity: 0.8;
  display: block;
  margin-bottom: 0.5rem;
  width: 97%;
  .label {
    display: block;
  }
  &:focus {
    background: $color-input-focus;
  }
}
.error {
  color: rgb(212, 114, 114) !important;
  font-weight: 300;
  margin-bottom: 1rem;
}
