@import "./../../scss/global.scss";
.formWrapper {
  display: flex;
  max-width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
  }
  .form {
    width: 16rem;
  }

  .btn {
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 6px 0;
  }
  .checkInput {
    margin-top: 1rem;
  }
  .error {
    text-align: center;
    margin-top: 5px;
    color: $color-text-hover;
  }
}
