@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

@import "./scss/global.scss";
body {
  background-color: $color-background;
  font-family: "Roboto";
  // color: rgb(243, 243, 243);
  color: rgb(105, 105, 105);
}

.mainWrapper {
  display: flex;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.content {
  width: 80%;
  margin: 0 2rem;
}
