// Theme Colours
$color-primary: #a042f1;
$color-yellow: #e5df88;
$color-body: rgb(240, 238, 238);
$color-background: rgb(46, 46, 46);
$color-text-hover: #ca94fd;
$color-red: #e24343;
$color-input-focus: #eedbff;
$color-input: #3d3544;
$color-info: rgb(196, 171, 211);
// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;
