@import "./../../scss/global.scss";
.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.items {
  padding: 1rem;
}

.messages {
  padding: 1rem;
}
.btn {
  display: block;
  margin-top: 0.5rem;
  align-self: center;
}
.textArea {
  color: $color-input;
  font-size: 1.3rem;
  background: $color-body;
  outline: none;
}
.textArea:focus {
  background: $color-input-focus;
}
.wrapperAddArea {
  margin-left: 12px;
  width: 25rem;
}
