@import "./../../../scss/global.scss";
.wrapper {
  margin-bottom: 2rem;
}

.btn {
  display: block;
  margin: 0;
  align-self: center;
}
.textArea {
  color: $color-input;
  font-size: 1.3rem;
  background: $color-body;
  outline: none;
}
.textArea:focus {
  background: $color-input-focus;
}
