@import "./../../../scss/global.scss";
.wrapper {
  margin-bottom: 2rem;
}

.btn {
  display: block;
  margin: 0;
  align-self: center;
}
.textArea {
  color: $color-background;
  font-size: 1.4rem;
}
