.wrapper {
  /* background-color: rgb(97, 55, 134); */
  margin-bottom: 2rem;
}

.message {
  font-size: 1.4rem;
  align-self: center;
}

.btn {
  display: block;
  margin: 0;
  align-self: center;
}
